$border: 1px solid black;
$padding: 10px;

.table {
  border: $border;
  border-collapse: collapse;
}

.tr {
  &:hover {
    cursor: pointer;
    background-color: lightblue;
  }
}

.td {
  padding: $padding;
  border: $border;
}

.th {
  padding: $padding;
  font-weight: bold;
  border: $border;
}